{% extends 'esame/common.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
      }
      th {
        border: 1px solid #000;
        width: 150px;
      }
      th+td {
        border: 1px solid #000;
        width: auto;
      }
      td+td {
        border: 1px solid #000;
        width: auto;
      }
      .center {
        margin-left: auto;
        margin-right: auto;
      }
      .inlinebutton{
        display:inline-block;
      }
      .inlinetext{
        display:inline-block;
      }
    </style>
  </head>
<br>
<div class="container my-5 text-center" style="max-width:900px">
    <h1>Titolo</h1>
</div>
<div class="container my-5 text-center" style="max-width:900px">
    Rappresentazione istanza
</div>

<div class="container" style="margin-top:18px; margin-bottom:18px;font-size:18px" ALIGN="center" style="text-align:center" >
    <div class="row">
       <div class="col-sm">
            <div class="card" style="width: 35rem;">
                <img src="" class="card-img-top">
                <div class="card-body">
                    <a href={% url 'save_solutions' ex='esercizio_tmp' %} class="btn btn-primary" style="margin-top:18px; margin-bottom:18px; margin-right:118px">SALVA</a>
                    <a href='{% url 'retrieve_saved_solutions' ex='esercizio_tmp' %}' class="btn btn-primary" style="margin-top:18px; margin-bottom:18px">CARICA</a>
                    <p class="card-text">Cliccando su <b>SALVA</b> salverai i risultati presenti in questa pagina.<br>Cliccando su <b>CARICA</b> caricherai gli ultimi risultati salvati.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<label style="margin-left:15%; margin-right:20%; margin-top:18px">
    <h3>ISTANZA</h3>
    <label style="margin-top:5px;font-size:18px" class="label"><b>{{quadruple.descr_before_task | safe}}</b></label>
    Istanza
</label>

<div class="container">
    <!-- input from textbox -->    
    {% for task,quadruple in data.items %}    
    <!-- ######################## {{task}} ######################## -->  
      <h3 style="margin-top:30px"> <span style="text-transform:uppercase">{{task}}</span> </h3>           
        <label style="margin-top:5px;font-size:18px" class="form-label">{{quadruple.question | safe}}</label>
          <div class="row g-3">
            <iframe id = 'frame{{ task }}' src="{% url 'grafo_template' %}" width="100%" height="300px" style="border: 1;" overflow="auto" scrolling='no'></iframe>
            <div class="inlinebutton">
            {% for state in quadruple.task_state_modifier %}
              {% if state == 'edgecol' %}
                <button type='submit' onclick='javascript:change_color("frame{{ task }}");' class="btn btn-success">Colora Archi</button>
              {% endif %}  
              {% if state == 'orientation' %}                
                <button type='submit' onclick='javascript:change_orientation("frame{{ task }}");' class="btn btn-success">Cambia orientamento arco</button>
              {% endif %}
              {% if state == 'nodetag' %}
                <button type="submit" onclick='javascript:change_nodetag("frame{{task}}", "{{ task }}");' class="btn btn-success">Cambia valore nodo</button>              
                <div class="inlinetext">
                  <input type="text" id="get_tag{{ task }}" style="display: none; width: auto" placeholder= "Nodo" name="change_name1">
                  <input type="text" id="set_tag{{ task }}" style="display: none; width: auto" placeholder= "Nuovo nodo" name="change_name2">
                </div>
              {% endif %}
              {% if state == 'refresh' %}
                <button type='submit' onclick='javascript:refresh_iframe("frame{{ task }}");' class="btn btn-danger">Ripristina Grafo</button>
              {% endif %}
            {% endfor %}                
            </div>
            {% for s in quadruple.componenti_stato %}
              <p class="componenti_{{task}}" style="display: none">{{s}}</p>
            {% endfor %}
            <label>Scegli un'opzione come risposta:</label>
            <br>
            {% for s in quadruple.select %}
            <div>
                <input type="radio" id="radio_{{ task }}" name="radio_{{ task }}" value="{{s}}">
                <label for="radio_{{ task }}">{{ s }}</label>
            </div>
            {% endfor %}
            
            <button type='submit' onclick='javascript:reset_radio("radio_{{ task }}");' style="width:180px" class="btn btn-danger">Ripristina selezione</button>
            {% for goal in quadruple.goals %} 
            <button type='submit' onclick='javascript:send("frame{{ task }}", "radio_{{ task }}", "ans_{{goal}}", "componenti_{{task}}");' class="btn btn-success">Ottieni certificato</button>
            <br>
            <form name="form" method="post" action = "{% url 'esercizio_tmp' %}" autocomplete="off">
            {% csrf_token %} 
            <textarea style="width:100%;font-size:18px;" class="form-control" id="ans_{{goal}}" name="ans_{{goal}}" placeholder="Inserisci {{goal}}"required></textarea>     
            <br>
            <div class="col-sm">
              <button type="submit" name="run_script_{{task}}" style="width:80px;" class="btn btn-primary">Invia</button>     
            </div>
            </form> 
            {% endfor %}   
          </div>

    <div class="row g-3">
          <div class="col-sm">
            <div class="shadow-none p-3 mb-5 bg-light rounded" style="margin-top:30px; width:950px">
               {%if quadruple.feedback %}
               <label style="margin-top:5px">{{quadruple.feedback | safe}}</label> 
               {% else %}
               <label style="margin-top:5px;font-size:18px" ><font style="font-family:'Courier New'">Ancora nessun feedback disponibile</font></label> 
               {% endif %}
            </div>     
          </div>
    </div>

    <!-- input from file-->
    <div class="row g-3" >
        <form name="form" method="post" action = "{% url 'simple_upload' ex='esercizio_tmp' task=task %}" enctype="multipart/form-data">
          {% csrf_token %}        
          <div class="row g-3">            
            <div>          
              <input type="file" style="width:950px" class="form-control" id="ans_{{esercizio_tmp}}_{{task}}" name="myfile" required>                        
            </div>
            <div class="col-sm">
              <button type="submit" name="upload_{{task}}" style="width:100px;margin-bottom:50px" class="btn btn-primary">Upload</button>     
            </div>
          </div>
        </form>
    </div>    
  {% endfor %}

  <div class="container" style="margin-top:18px; margin-bottom:200px" ALIGN="left" style="text-align:left" >
    <h4><b>Conclusione</b></h4>
  </div>
  
  <script>
    function change_color(name){
      const iframe = document.getElementById(name);
      const iWindow = iframe.contentWindow;
      iWindow.postMessage('changecolor', '*')
    }

    function change_orientation(name){
      const iframe = document.getElementById(name);
      const iWindow = iframe.contentWindow;
      iWindow.postMessage('changeorientation', '*');
    }

    function refresh_iframe(name){
      document.getElementById(name).contentWindow.location.reload();
    }

    function reset_radio(name){
      var radiobutton = document.getElementsByName(name)
      for (var i = 0; i < radiobutton.length; i++){
        var rbutton = radiobutton[i];
        rbutton.checked = false
      }     
    }
    isChangeTag = false;
    function change_nodetag(frame, task){
      isChangeTag= !isChangeTag;
      if(isChangeTag == true){
        document.getElementById('get_tag' + task).style.display = 'inline-block';
        document.getElementById('set_tag' + task).style.display = 'inline-block';
      }
      else{
        const iframe = document.getElementById(frame);
        const iWindow = iframe.contentWindow;
        a = document.getElementById("get_tag" + task).value
        b = document.getElementById("set_tag" + task).value
        if(b != "")
          iWindow.postMessage('changetag' + '.' + a + '.' + b , '*');
        document.getElementById("get_tag" + task).value = "";
        document.getElementById("get_tag" + task).style.display = 'none';
        document.getElementById("set_tag" + task).value = "";
        document.getElementById("set_tag" + task).style.display = 'none';
      }  
    }
    function find_status(status, dict){
      for (var i = 0; i < dict.length; i++) {
        valore = dict[i].innerHTML;
        if (valore.includes(status))
          return valore.split(":")[1].split("}")[0].split("'")[1].split("'")[0];
      }
      return ""
    }

    var out_text;

    function send(name, radio, output, dictionary){ 
      const iframe = document.getElementById(name);
      const iWindow = iframe.contentWindow;
      var string = 'input[name="' + radio + '"]:checked';
      var value = document.querySelector(string).value;
      status = value.split("[")[1].split("]")[0];
      dict = document.getElementsByClassName(dictionary);
      select_status = find_status(status, dict);
      out_text = output;
      if(select_status == "nodeset")
        iWindow.postMessage(status +'.nodeset', '*'); 
      else if(select_status == "edgeset")
        iWindow.postMessage(status + '.edgeset', '*');
      else if(select_status == "orientation")
        iWindow.postMessage(status + '.orientation', '*');
      else if(select_status == "edgecol")
        iWindow.postMessage(status + '.edgecol', '*');
      else if(select_status == "nodecol")
        iWindow.postMessage(status + '.nodecol', '*');
      else
        iWindow.postMessage(status + '.send', '*'); 
    }

    
    function isJsonString(str) {
      try {
          JSON.parse(str);
      } catch (e) {
          return false;
      }
      return true;
    }

  function printStringToInput(input, newJSON) {
      var inputField = document.getElementById(input);

      if(isJsonString(inputField.value)){
        existingJSON = JSON.parse(inputField.value);
        newJSON = JSON.parse(newJSON);
        changeCommonKey(existingJSON, newJSON);
        mergedJSON = Object.assign(existingJSON, newJSON);
        inputField.value = JSON.stringify(mergedJSON, null);
      }
      else{
        inputField.value = newJSON;
      }
      
  }

  function changeCommonKey(json1, json2) {
    let json1Keys = Object.keys(json1);
    let json2Keys = Object.keys(json2);
    let commonKeys = json1Keys.filter(key => json2Keys.includes(key));

    for (let key of commonKeys) {
    let newKey = key;
    json1[newKey] = json2[key];
    delete json2[key];
  }
  }

  window.addEventListener('message', function (e) {
    if(isJsonString(e.data)){
      printStringToInput(out_text, e.data);
    }
  });

</script>
  
{% endblock %}
</html>