<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous"></script>
    <script src="https://graphicalstructure.org/Playground/Scripts/Line.js"></script>
    <style>
      body {
         padding: 0px;
         margin: 0px;
         height: 40in;
      }
      .node {
         position: absolute;
         height: 1.6em;
         line-height: 1.6em;  
         width: 1.6em;  
         font-size: 1.6em;
         font-weight: bold;
         border-radius: 50%;
         background-color: green;
         color: black;
         text-align: center;
         cursor: pointer;
       }  
    </style>
  </head>
<div class='node' id='0' style='top:237px;left:42px; background: green;border: thin solid black' onclick='javascript:change(this.id);'>
<label id='0-label-char' style='position: absolute; top:0%;left:25%;'> 0</label>
<label id='0-label' style='font-size: 14px; position: absolute; top:75%;left:0%;'>  </label>
</div>
<div class='node' id='1' style='top:224px;left:387px; background: green;border: thin solid black' onclick='javascript:change(this.id);'>
<label id='1-label-char' style='position: absolute; top:0%;left:25%;'> 1</label>
<label id='1-label' style='font-size: 14px; position: absolute; top:75%;left:0%;'>  </label>
</div>
<div class='node' id='2' style='top:237px;left:730px; background: green;border: thin solid black' onclick='javascript:change(this.id);'>
<label id='2-label-char' style='position: absolute; top:0%;left:25%;'> 2</label>
<label id='2-label' style='font-size: 14px; position: absolute; top:75%;left:0%;'>  </label>
</div>
<div class='node' id='3' style='top:25px;left:553px; background: green;border: thin solid black' onclick='javascript:change(this.id);'>
<label id='3-label-char' style='position: absolute; top:0%;left:25%;'> 3</label>
<label id='3-label' style='font-size: 14px; position: absolute; top:75%;left:0%;'>  </label>
</div>
<div class='node' id='4' style='top:26px;left:220px; background: green;border: thin solid black' onclick='javascript:change(this.id);'>
<label id='4-label-char' style='position: absolute; top:0%;left:25%;'> 4</label>
<label id='4-label' style='font-size: 14px; position: absolute; top:75%;left:0%;'>  </label>
</div>
<script>
  $('.node').draggable();
  var _lines = new Array(); //This array will store all lines (option)
  var _canvas = document.createElement('canvas');
  var _ctx;
  var ele1 , ele2, f=0;
  var lineindex =0;
  var linemap = {};
  var _left = new Object(); //This will store _left elements offset
  var _right = new Object(); //This will store _right elements offset
  var _color='coral';
  var _dash;
  var _id;
  var clientrectleft
  var clientrectright
  var leftnodeoffsetx
  var leftnodeoffsety
  var rightnodeoffsetx
  var rightnodeoffsety
  var dax
  var day
  var dangle
  var rightx
  var righty
  var leftx
  var lefty
  var _error =false;
    var connect = function() {
      var _me = this;
      //Initialize Canvas object
      _canvas.id = 'cav1';
      _canvas.width = document.body.clientWidth;
      _canvas.height = document.body.clientHeight;
      document.body.appendChild(_canvas)
      _ctx = _canvas.getContext('2d');
      this.drawLine = function(option) {
        //It will push line to array.
        linemap[`${option.left_node}${option.right_node}`] = _lines.length;
        _lines.push(option);
        this.connect(option);
      };
  this.kruskalize =function (_cl = 'rgb(0,0,0,0.08)')  {
    for ( line of _lines) {
      line.col = _cl;
    }
  }
      this.changecolor = function (starting , ending , assignedcolor) {
    if (linemap[`${starting}${ending}`] != undefined)  {
       let  targg = parseInt(linemap[`${starting}${ending}`]);
       console.log(targg , starting , ending  , assignedcolor)
      _lines[targg].col =assignedcolor;
    }
    else {
      let targg = parseInt(linemap[`${ending}${starting}`]);
      console.log(targg , starting , ending  , assignedcolor)
      _lines[targg].col =assignedcolor;
    }
      this.redrawLines();
      }
      this.dl = function(one , two) {
        for (var y = 0 ; y < _lines.length ; ++y) {
   if ((_lines[y].left_node) == one &&  (_lines[y].right_node) == two) {
    _lines.splice(y,1);
   }
        }
      };
      //This Function is used to connect two different div with a dotted line.
     this.connect = async function(option) {
      if ( option.left_node == undefined || option.left_node == 'null' || option.right_node == undefined || option.right_node == 'null'  ) {
        return;
      }
            //To decide colour of the line
                _color = option.col || 'coral';
                _ctx.font = '30px Segoe UI';
            //To decide style of the line. dotted or solid
            switch (option.style) {
              case 'dashed':
                _dash = [4, 2];
                break;
              case 'solid':
                _dash = [0, 0];
                break;
              case 'dotted':
                _dash = [2, 2];
                break;
              default:
                _dash = [0, 0];
                break;
            }
            _ctx.setLineDash(_dash);
            //If left_node is actually right side, following code will switch elements.
               _left_node = document.getElementById(option.left_node);
               _right_node = document.getElementById(option.right_node);
               if (_left_node == null || _right_node == null) {return;}
               clientrectleft = _left_node.getBoundingClientRect();
               clientrectright = _right_node.getBoundingClientRect();
               leftnodeoffsetx = clientrectleft.left +document.documentElement.scrollLeft;
               leftnodeoffsety = clientrectleft.top +document.documentElement.scrollTop;
               rightnodeoffsetx = clientrectright.left +document.documentElement.scrollLeft;
               rightnodeoffsety = clientrectright.top +document.documentElement.scrollTop;
               dax = (rightnodeoffsetx+ _right_node.offsetHeight/2) - (leftnodeoffsetx+ _left_node.offsetWidth/2);
               day = (rightnodeoffsety+ _right_node.offsetHeight/2) - (leftnodeoffsety+ _left_node.offsetHeight/2);
               dangle = Math.atan2(day ,dax);
               rightx = (_right_node.offsetWidth/2) * Math.cos(135+dangle) + (rightnodeoffsetx+ _right_node.offsetWidth/2) ;
               righty  = (_right_node.offsetHeight/2) * Math.sin(135+dangle) + (rightnodeoffsety + (_right_node.offsetHeight / 2)) ;
               leftx = (_left_node.offsetWidth/2) * Math.cos(.05+dangle) + (leftnodeoffsetx+ _left_node.offsetWidth/2) ;
               lefty  = (_left_node.offsetHeight/2) * Math.sin(.05+dangle) + (leftnodeoffsety + (_left_node.offsetHeight / 2)) ;
              //Get Left point and Right Point
              _left.x = leftx
              _left.y = lefty
              _right.x = rightx
              _right.y = righty
                ele1_x = _left.x;
                ele1_y = _left.y;
                ele2_x = _right.x;
                ele2_y = _right.y;
                if (option.text == -13234214325) {
                  option.text = '';
                }
                _ctx.beginPath(); 
              if (option.ltype == '') {
                  _ctx.moveTo(_left.x, _left.y );
                  _ctx.lineTo((_right.x), (_right.y));
              }
              _ctx.lineWidth = option.width || 2;
              _ctx.strokeStyle = _color;
     if (option.ltype == 'curve') {
        _ctx.P1X = ele1_x;
        _ctx.P1Y = ele1_y;
        _ctx.P2X = ele2_x;
        _ctx.P2Y = ele2_y;
        _ctx.moveTo(ele1_x, ele1_y);
        _ctx.P3X = (_ctx.P1X + _ctx.P2X)/2;
        _ctx.P3Y = (_ctx.P1Y + _ctx.P2Y)/2;
        _ctx.DistanceX = Math.abs(_ctx.P2X - _ctx.P1X);
        _ctx.DistanceY = Math.abs(_ctx.P2Y - _ctx.P1Y);
        if (_ctx.DistanceX >= _ctx.DistanceY){
            if (_ctx.P1Y<_ctx.P2Y){
                _ctx.P3Y = _ctx.P3Y + (Math.log(_ctx.DistanceX)/Math.log(2))*5;
            }else{
                _ctx.P3Y = _ctx.P3Y - (Math.log(_ctx.DistanceX)/Math.log(2))*5;
            }
        }else{
            if (_ctx.P1X<_ctx.P2X){
                _ctx.P3X = _ctx.P3X - (Math.log(_ctx.DistanceY)/Math.log(2))*5;
            }else{
                _ctx.P3X = _ctx.P3X - (Math.log(_ctx.DistanceY)/Math.log(2))*5;
            }
        }
        _ctx.bezierCurveTo(_ctx.P3X, _ctx.P3Y, _ctx.P3X, _ctx.P3Y, ele2_x, ele2_y);
        _ctx.stroke();
       }
     if (option.gtype == 'arrow') {
              let headlen = 16; // length of head in pixels
              if (option.ltype == 'curve') {
                var dx = Number(ele2_x) - Number(_ctx.P3X);
                var dy = ele2_y - _ctx.P3Y;
              } else {
                var dx = Number(ele2_x) - Number(ele1_x);
                var dy = ele2_y - ele1_y;
              }
              let angle = Math.atan2(dy, dx);
              _ctx.moveTo(ele2_x,  ele2_y);
              _ctx.lineTo(ele2_x - headlen * Math.cos(angle - Math.PI / 6),  ele2_y - headlen * Math.sin(angle - Math.PI / 6));
              _ctx.moveTo(ele2_x,  ele2_y);
              _ctx.lineTo(ele2_x - headlen * Math.cos(angle + Math.PI / 6),  ele2_y - headlen * Math.sin(angle + Math.PI / 6));
            }
     if (option.gtype == 'bidirectional') {
              let headlen = 16; // length   of    head in pixels;
              if (option.ltype == 'curve') {
                var dx = Number(ele1_x) - Number(_ctx.P3X);
                var dy = ele1_y - _ctx.P3Y;
              } else {
                var dx = Number(ele1_x) - Number(ele2_x);
                var dy = ele1_y - ele2_y;
              }
              let angle = Math.atan2(dy, dx);
              _ctx.moveTo(ele1_x, ele1_y);
              _ctx.lineTo(ele1_x - headlen * Math.cos(angle - Math.PI / 6), ele1_y - headlen * Math.sin(angle - Math.PI / 6));
              _ctx.moveTo(ele1_x, ele1_y);
              _ctx.lineTo(ele1_x - headlen * Math.cos(angle + Math.PI / 6), ele1_y - headlen * Math.sin(angle + Math.PI / 6));
              if (option.ltype == 'curve') {
                var dx = Number(ele2_x) - Number(_ctx.P3X);
                var dy = ele2_y - _ctx.P3Y;
              } else {
                var dx = Number(ele2_x) - Number(ele1_x);
                var dy = ele2_y - ele1_y;
              }
              let firstangle = Math.atan2(dy, dx);
              _ctx.moveTo(ele2_x, ele2_y);
              _ctx.lineTo(ele2_x - headlen * Math.cos(firstangle - Math.PI / 6), ele2_y - headlen * Math.sin(firstangle - Math.PI / 6));
              _ctx.moveTo(ele2_x, ele2_y);
              _ctx.lineTo(ele2_x - headlen * Math.cos(firstangle + Math.PI / 6), ele2_y - headlen * Math.sin(firstangle + Math.PI / 6));
            }
              _ctx.stroke();
  f = 0;
              _ctx.font = 'bold 1.1em Segoe ui';
              _ctx.fillText(option.text,(_right.x +_left.x)/2-15 ,( _right.y + _left.y)/2-15);
            //option.resize = option.resize || false;
        }
      window.addEventListener('resize',function()  {
          _me.redrawLines();
        //_me.Blines();
       //  _me.Listlines();
      })
      this.redrawLines = async function() {
        if (_lines.length == 0) return;
        _ctx.clearRect(0, 0,  10000, 4300);
          for (let li = 0 ; li < _lines.length ;li++) {
            _me.connect(_lines[li])
            }
      };
      this.Splaylines = async function() {
        if (tree.length == 0) return;
        _ctx.clearRect(0, 0,  10000, 4300);
        for (let source in tree) {
          let destination = tree[source];
          if(destination != 'null')
          _me.connect({left_node:source , right_node:destination+'treetop'})
          }
      };
      this.Listlines = function() {
        if (next.length == 0) return;
       _ctx.clearRect(0, 0,  10000, 4300);
        for (let source in next) {
          let destination = next[source];
          if(destination != 'null')
          _me.connect({left_node:source , right_node:destination , col:'black' ,style:'dashed'})
          }
      };
      this.Blines = function() {
        if (BTree.length == 0) return;
        _ctx.clearRect(0, 0,  10000, 4300);
        for (let source in BTree) {
          let destination = BTree[source];
          if(destination != 'null')
          _me.connect({left_node:source , right_node:destination+'top',gtype:'UD' })
          }
      };
      return this;
    };
    var LineController = connect();
  LineController.drawLine({
    left_node:'0',
    right_node:'1',
    label_node:'0-label',
    col: 'black',
    width: 2,
    text: 2,
    style: 'solid',
    gtype: 'arrow',
    ltype: '',
  })
  $( '.'+'node' ).draggable({
  scroll: false,
  drag: function(event, ui){LineController.redrawLines();}
  });
  LineController.drawLine({
    left_node:'0',
    right_node:'4',
    label_node:'0-label',
    col: 'black',
    width: 2,
    text: 3,
    style: 'solid',
    gtype: 'arrow',
    ltype: '',
  })
  $( '.'+'node' ).draggable({
  scroll: false,
  drag: function(event, ui){LineController.redrawLines();}
  });
  LineController.drawLine({
    left_node:'1',
    right_node:'2',
    label_node:'1-label',
    col: 'black',
    width: 2,
    text: 2,
    style: 'solid',
    gtype: 'arrow',
    ltype: '',
  })
  $( '.'+'node' ).draggable({
  scroll: false,
  drag: function(event, ui){LineController.redrawLines();}
  });
  LineController.drawLine({
    left_node:'1',
    right_node:'3',
    label_node:'1-label',
    col: 'black',
    width: 2,
    text: 2,
    style: 'solid',
    gtype: 'arrow',
    ltype: '',
  })
  $( '.'+'node' ).draggable({
  scroll: false,
  drag: function(event, ui){LineController.redrawLines();}
  });
  LineController.drawLine({
    left_node:'1',
    right_node:'4',
    label_node:'1-label',
    col: 'black',
    width: 2,
    text: 3,
    style: 'solid',
    gtype: 'arrow',
    ltype: '',
  })
  $( '.'+'node' ).draggable({
  scroll: false,
  drag: function(event, ui){LineController.redrawLines();}
  });
  LineController.drawLine({
    left_node:'2',
    right_node:'3',
    label_node:'2-label',
    col: 'black',
    width: 2,
    text: 2,
    style: 'solid',
    gtype: 'arrow',
    ltype: '',
  })
  $( '.'+'node' ).draggable({
  scroll: false,
  drag: function(event, ui){LineController.redrawLines();}
  });
  LineController.drawLine({
    left_node:'3',
    right_node:'4',
    label_node:'3-label',
    col: 'black',
    width: 2,
    text: 5,
    style: 'solid',
    gtype: 'arrow',
    ltype: '',
  })
  $( '.'+'node' ).draggable({
  scroll: false,
  drag: function(event, ui){LineController.redrawLines();}
  });
   var counters = Array(256).fill(0);
  function change(id) {
       var colors = ['red', 'green'];
        var len = colors.length;
       var e = document.getElementById(id);
        var index = id.charCodeAt(0);
        var counter = counters[index];
       if (counter != len) {
           e.style.background = colors[counter];
           counter = counter + 1;
        } 
         else {
           counter = 0;
           e.style.background = colors[counter];
        }
        counters[index] = counter;
    }

    //Cambio orientamento archi
    function change_orientation(){
        for(i=0; i < Object.keys(_lines).length; i++){
            a = _lines[i].left_node;
            b = _lines[i].right_node;
           if(document.getElementById(a).style.background != 'green' && document.getElementById(b).style.background != 'green'){
                _lines[i].left_node = b;
                _lines[i].right_node = a;
            }
        }
        this.redrawLines();
    }

    //Modalità attivata
    function path_color(){
       var colors = ['red', 'blue', 'black'];
        for(i=0; i < Object.keys(_lines).length; i++){
            a = _lines[i].left_node;
            b = _lines[i].right_node;
           if(document.getElementById(a).style.background != 'green' && document.getElementById(b).style.background != 'green'){
               index = colors.indexOf(_lines[i].col)
               if(index == colors.length - 1)
                    index = -1;
               changecolor(a,b, colors[index + 1]);
            }
        }
       refresh_nodes('green');
    }

    //Colora l'intero grafo
    function refresh_nodes(color){
        var divs = document.getElementsByClassName('node');
        for(i=0; i<Object.keys(divs).length; i++){
            index = divs[i].id.charCodeAt(0);
            counters[index] = 0;
            divs[i].style.background = color;
        }
    }

    //Colora l'intero grafo
    function refresh_edges(color){
        for(i=1; i < Object.keys(_lines).length; i++){
            a = _lines[i].left_node;
            b = _lines[i].right_node;
            changecolor(a,b, color);
        }
    }

    function send_output(status){
        var output = new Object();
        output[status] =  new Object();
        var nodes = document.getElementsByClassName('node');
        output[status].n = new Array();
        //Aggiungo nodi all'output
        for(i=0; i<Object.keys(nodes).length; i++){
            var node = new Object();
            node.id = nodes[i].id;
            node.color = nodes[i].style.background;
            output[status].n.push(node);
        }
        output[status].m = new Array();
        //Aggiungo archi all'output
        for(i=0; i < Object.keys(_lines).length; i++){
            var edge = new Object();
            edge.left = _lines[i].left_node;
            edge.right = _lines[i].right_node;
            edge.color = _lines[i].col;
            edge.orientation = _lines[i].gtype;
            edge.value = _lines[i].text;
            output[status].m.push(edge);
           }
        var jsonString = JSON.stringify(output, null, '	');
        window.parent.postMessage(jsonString, '*');
       refresh_edges('black');
       refresh_nodes('green');
    }

    function get_colored_nodes(status){
        var output = new Object();
        output[status] =  new Array();
        var nodes = document.getElementsByClassName('node');
        //Aggiungo nodi all'output
        for(i=0; i<Object.keys(nodes).length; i++){
            if(nodes[i].style.background != 'green'){
                var node = new Object();
                node = nodes[i].id;
                output[status].push(node);
            }
        }
        var jsonString = JSON.stringify(output, null);
        window.parent.postMessage(jsonString, '*');
    }

    function get_all_nodes(status){
        var output = new Object();
        output[status] =  new Object();
        var nodes = document.getElementsByClassName('node');
        //Aggiungo nodi all'output
        for(i=0; i < Object.keys(nodes).length; i++){
            if(output[status][nodes[i].style.background] == undefined)
                output[status][nodes[i].style.background] = new Array();            output[status][nodes[i].style.background].push(nodes[i].id);
        }
        var jsonString = JSON.stringify(output, null);
        window.parent.postMessage(jsonString, '*');
    }

    function get_path(status){
        var output = new Object();
        output[status] =  new Array();
        //Aggiungo archi all'output
        for(i=0; i < Object.keys(_lines).length; i++){
           if(_lines[i].col != 'black')
                //Aggiungere qui il peso _lines[i].text per stampare il peso (si può creare oggetto edge come in funzione send)
                output[status].push(_lines[i].left_node + '_' + _lines[i].right_node);
       }
    var jsonString = JSON.stringify(output, null);
    window.parent.postMessage(jsonString, '*');
    refresh_edges('black');
    }

    function get_orientation_edge(status){
        var output = new Object();
        output[status] =  new Object();
        //Aggiungo archi all'output
        for(i=0; i < Object.keys(_lines).length; i++){
            if(output[status][_lines[i].gtype] == undefined)
                output[status][_lines[i].gtype] = new Array();            output[status][_lines[i].gtype].push(_lines[i].left_node + '_' + _lines[i].right_node);
        }
    var jsonString = JSON.stringify(output, null);
    window.parent.postMessage(jsonString, '*');
    }

    function get_colored_edges(status){
        var output = new Object();
        output[status] =  new Object();
        //Aggiungo archi all'output
        for(i=0; i < Object.keys(_lines).length; i++){
            if(output[status][_lines[i].col] == undefined)
                output[status][_lines[i].col] = new Array();            output[status][_lines[i].col].push(_lines[i].left_node + '_' + _lines[i].right_node);
        }
    var jsonString = JSON.stringify(output, null);
    window.parent.postMessage(jsonString, '*');
    }

    function change_nodetag(a, b){
        var nodes = document.getElementsByClassName('node');
        for(i=0; i < Object.keys(_lines).length; i++){
            if(_lines[i].left_node == a){
                id = linemap[`${_lines[i].left_node}${_lines[i].right_node}`];
                _lines[i].left_node = b;
                linemap[`${_lines[i].left_node}${_lines[i].right_node}`] = id;
             }
            else if (_lines[i].right_node == a){
                id = linemap[`${_lines[i].left_node}${_lines[i].right_node}`];
                _lines[i].right_node = b;
                linemap[`${_lines[i].left_node}${_lines[i].right_node}`] = id;
            }
        }
        for(i=0; i<Object.keys(nodes).length; i++){
            if(nodes[i].id == a){
                inner = nodes[i].innerHTML;
                var tag = document.getElementById(a+"-label-char");
                tag.id = b+"-label-char";
                tag.innerHTML = b;
                var label = document.getElementById(a+"-label");
                label.id = b+"-label";
                nodes[i].id = b;
                //nodes[i].innerHTML = b;
            }
        }
    }
    //Comunicazione parent-iframe
    window.onmessage = function(e){
        if (e.data == 'changecolor')
            path_color();
        if (e.data == 'changeorientation')
            change_orientation();
        if (String(e.data).includes('changetag')){
            a = String(e.data).split('.')[1].split('.')[0];
            b = String(e.data).split('.')[2];
            change_nodetag(a, b);
        }
        if (String(e.data).split('.')[1] == 'edgeset')
            get_path(String(e.data).split('.')[0]);
        if (String(e.data).split('.')[1] == 'nodeset')
            get_colored_nodes(String(e.data).split('.')[0]);
        if (String(e.data).split('.')[1] == 'orientation')
            get_orientation_edge(String(e.data).split('.')[0]);
        if (String(e.data).split('.')[1] == 'edgecol')
            get_colored_edges(String(e.data).split('.')[0]);
        if (String(e.data).split('.')[1] == 'nodecol')
            get_all_nodes(String(e.data).split('.')[0]);
        if (String(e.data).split('.')[1] == 'send')
            send_output(String(e.data).split('.')[0]);
    };
</script>
</html>
