<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha512-4DaiBX8rsgOoBSNLceQ/IixDF+uUDV0hJrQX/MJ9RwJZCDqbEp0EjIQodGxszPtTpwlenJznR2jkgDWqj4Hs+A==" crossorigin="anonymous"></script>
    <script src="https://graphicalstructure.org/Playground/Scripts/Line.js"></script>
    <style>
      body {
         padding: 0px;
         margin: 0px;
         height: 40in;
      }
      .node {
         position: absolute;
         height: 1.6em;
         line-height: 1.6em;  
         width: 1.6em;  
         font-size: 1.6em;
         font-weight: bold;
         border-radius: 50%;
         background-color: green;
         color: black;
         text-align: center;
         cursor: pointer;
       }  
    </style>
  </head>
GRAFO
</html>
